version: "3.9"
name: schoolme-db

x-pg-base: &pg
  image: postgres:16
  restart: unless-stopped
  env_file: []    # lo sobreescribimos por servicio
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB || exit 1"]
    interval: 3s
    timeout: 3s
    retries: 20

services:
  pg-main:
    <<: *pg
    env_file: [./main/.env-main]
    ports: ["10000:5432"]
    volumes: [pgdata-main:/var/lib/postgresql/data]

  pg-staging:
    <<: *pg
    env_file: [./staging/.env-staging]
    ports: ["10001:5432"]
    volumes: [pgdata-staging:/var/lib/postgresql/data]

  pg-qa:
    <<: *pg
    env_file: [./qa/.env-qa]
    ports: ["10002:5432"]
    volumes: [pgdata-qa:/var/lib/postgresql/data]

  pg-dev:
    <<: *pg
    env_file: [./dev/.env-dev]
    ports: ["10003:5432"]
    volumes: [pgdata-dev:/var/lib/postgresql/data]

volumes:
  pgdata-main:
  pgdata-staging:
  pgdata-qa:
  pgdata-dev:
